<h3>Vos bateaux :</h3>
<ul>
  <% @boats.each do |boat| %>
    <li>
      <%= boat.name %>
      <%= link_to "Delete",
        boat_path(boat),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
<%= link_to 'Ajouter un nouveau bateau', new_boat_path %> <br><br><br>

<h3> Vos reservations en attente</h3>
<% @bookings.each do |booking| %>
  <p>Demandeur : <%= booking.user_id %></p>
  <p>Bateaux : <%= booking.boat_id %></p>
  <div>
    <p>Du : <%= booking.start_date %> au : <%= booking.end_date %></p>
  </div>
  <% end %>
