<div class="container">
<div>
  <h3>Vos bateaux :</h3>
  <ul>
    <% @boats.each do |boat| %>
      <li>
        <%= boat.name %>
        <%= link_to "Delete",
          boat_path(boat),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Ajouter un nouveau bateau', new_boat_path %> <br><br><br>
</div>
<div>
  <h3> Vos reservations en attente</h3>
  <% @bookings.each do |booking| %>
    <p>Demandeur : <%= booking.user_id %></p>
    <p>Bateaux : <%= booking.boat_id %></p>
    <div>
      <p>Du : <%= booking.start_date %></p>
      <p>Au : <%= booking.end_date %></p>
    </div>
    <p>Status: <%= booking.status %></p>
    <%= link_to 'Accepter', boat_booking_url(booking.boat.id, booking.id), data: { "turbo-method": :patch } %>
  <% end %>
</div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
