<%= simple_form_for [@boat] do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
