<div class="container">
  <%= simple_form_for @boat, url: boats_path, method: :post, local:true do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :capacity %>
    <%= f.input :photo, as: :file %>
    <%= f.input :address, label: "Address",
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <div>
      <%= f.submit "Create Boat" %>
    </div>
  <% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
