<div class="card-trip">
  <h1>Boat</h1>
   <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>

</div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @boat.name %></h2>
      <h2><%= @boat.category %></h2>
      <h2><%= @boat.capacity %></h2>
      <p>Short description here!</p>
      <h2 class="card-trip-pricing">£ <%= @boat.price %> </h2>
    </div>
  </div>
</div>

<p class="btn btn-outline-primary">
  <%= link_to "HOME", root_path %>
</p>
<p class="btn btn-outline-primary">
  <%= link_to "Book", new_boat_booking_path(@boat) %>
</p>
<p class="btn btn-outline-primary">
  <%= link_to "Edit", edit_boat_path(@boat) %>
</p>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
