<div class="card-trip">
  <h1>Boat</h1>
    <h2><%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %></h2>

</div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @boat.name %></h2>
      <h2><%= @boat.category %></h2>
      <h2><%= @boat.capacity %></h2>
      <p>Short description here!</p>
      <h2 class="card-trip-pricing">£ <%= @boat.price %> </h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>

<p class="btn btn-outline-primary">
  <%= link_to "HOME", root_path %>
</p>
<p class="btn btn-outline-primary">
  <%= link_to "Book", new_boat_booking_path(@boat) %>
</p>
